<div class="job-info-container p-4">
  <ion-accordion-group class="accordions">
    <ion-accordion color="" value="first">
      <ion-item slot="header" color="light">
        <ion-label>Current Role</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="accordion-info">
          <h4>Current Role</h4>
          <h5>Warehouse Operative</h5>
        </div>
        <div class="accordion-info">
          <h4>Client & Site:</h4>
          <h5>GXO Wigan</h5>
        </div>
        <div class="accordion-info">
          <h4>Salary:</h4>
          <h5>£14.50 per hour</h5>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Previous Role</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Shift Info</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</div>
