<ion-tabs >
  <ion-tab-bar slot="top">
    <ion-tab-button tab="dashboard">
      <ion-icon name="person-circle-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="company">
      <ion-icon name="radio"></ion-icon>
      Company
    </ion-tab-button>
    <ion-tab-button tab="formats">
      <ion-icon name="library"></ion-icon>
      Import Formats
    </ion-tab-button>
    <ion-tab-button tab="ni-rates">
      <ion-icon name="search"></ion-icon>
      NI Rates
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
