<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{niRate ? 'Update Ni Rate' : 'Create Ni Rate'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="p-4 h-full overflow-y-auto edit-ni-rate-container">
  <form [formGroup]="editNiRateForm" class="edit-form" (ngSubmit)="onEdit()">
    <div class="actions">
      <ion-item class="w-full min-w-[150px]" #startDateTrigger>
        <ion-input placeholder="Date" #startDateInput formControlName="date_from"></ion-input>
        <ion-icon class="cursor-pointer" name="calendar" slot="end"></ion-icon>
      </ion-item>
      <app-ui-datetime-popover
        enableRange
        multiple
        [datetimePopoverTriggerFor]="startDateTrigger"
        [datetimeValueBind]="startDateInput"
      >
      </app-ui-datetime-popover>
    </div>

    <ion-input
      class="form-input"
      formControlName="employer_rate"
      placeholder="Employer Rate"
    >
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="editNiRateForm.get('employer_rate')?.touched && editNiRateForm.get('employer_rate')?.invalid"
    >
      <p *ngIf="editNiRateForm.get('employer_rate')?.hasError('required')">
        Employer rate is required.
      </p>
    </div>
    <ion-input
      class="form-input"
      formControlName="ni_free_amount"
      placeholder="Ni Free Amount"
    >
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="editNiRateForm.get('ni_free_amount')?.touched && editNiRateForm.get('ni_free_amount')?.invalid"
    >
      <p *ngIf="editNiRateForm.get('ni_free_amount')?.hasError('required')">
        Ni Free Amount is required.
      </p>
    </div>
    <ion-input
      class="form-input"
      formControlName="ni_free_amount_u21"
      placeholder="NI Free Amount U21"
    >
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="editNiRateForm.get('ni_free_amount_u21')?.touched && editNiRateForm.get('niFreeAmount')?.invalid"
    >
      <p *ngIf="editNiRateForm.get('ni_free_amount_u21')?.hasError('required')">
        Ni Free Amount U21 is required.
      </p>
    </div>
    <ion-input
      class="form-input"
      formControlName="apprentice_levy"
      placeholder="Apprentice Levy"
    >
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="editNiRateForm.get('apprentice_levy')?.touched && editNiRateForm.get('apprentice_levy')?.invalid"
    >
      <p *ngIf="editNiRateForm.get('apprentice_levy')?.hasError('required')">
        Apprentice Levy is required.
      </p>
    </div>
    <ion-input
      class="form-input"
      formControlName="pension_contribution_rate"
      placeholder="Pension Contribution Rate"
    >
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="editNiRateForm.get('pension_contribution_rate')?.touched && editNiRateForm.get('pension_contribution_rate')?.invalid"
    >
      <p
        *ngIf="editNiRateForm.get('pension_contribution_rate')?.hasError('required')"
      >
        Pension Contribution Rate is required.
      </p>
    </div>
    <div class="flex flex-col">
      <ion-button class="form-button" color="tertiary" (click)="onEdit()"
        >{{niRate ? 'Update Ni Rate' : 'Create Ni Rate'}}</ion-button
      >
    </div>
  </form>
</div>
