<div class="auth-container" [formGroup]="loginForm">
  <!-- Top Blue Circle -->
  <h1 class="title">Tech.Co</h1>
  <h1 class="title-secondary">Real Time Invoicing</h1>
  <!-- Login Form -->
  
  <form class="login-form" (ngSubmit)="onLogin()">
    <ion-label>Login</ion-label>
    <ion-input
      class="form-input"
      formControlName="username"
      placeholder="Username"
    ></ion-input>
    <div
      class="error-wrapper"
      *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
    >
      <p *ngIf="loginForm.get('username')?.hasError('required')">
        Username is required.
      </p>
      <p *ngIf="loginForm.get('username')?.hasError('minlength')">
        Username must be at least 3 characters long.
      </p>
    </div>
    <ion-input
      class="form-input"
      formControlName="password"
      type="password"
      placeholder="Password"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <div
      class="error-wrapper"
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
    >
      <p *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required.
      </p>
      <p *ngIf="loginForm.get('password')?.hasError('minlength')">
        Password must be at least 8 characters long.
      </p>
    </div>
    <div class="flex flex-col">
      <ion-button class="form-button" color="tertiary" (click)="onLogin()"
        >LOGIN</ion-button
      >
      <a class="form-link" href="#">Forgotten Password</a>
    </div>
  </form>
</div>
