<div class="auth-container">
  <!-- Top Blue Circle -->
  <div class="circle-overlay">
    <h1>Tech.Co</h1>
    <p>Workers Portal</p>
  </div>

  <!-- Background Images -->
  <img src="/assets/images/auth/techco_1.jpg" alt="Team" class="top-image" />
  <img
    src="/assets/images/auth/techco_2.jpg"
    alt="Worker"
    class="bottom-image"
  />

  <!-- Login Form -->
  <div class="circle-overlay-2">
    <form class="login-form">
      <ion-input class="form-input" placeholder="Username"></ion-input>
      <ion-input class="form-input" type="password" placeholder="Password">
        <ion-input-password-toggle slot="start"></ion-input-password-toggle>
      </ion-input>
      <div class="flex flex-col">
        <ion-button class="form-button" color="tertiary">LOGIN</ion-button>
        <a class="form-link" href="#">Forgotten Password</a>
      </div>
    </form>
  </div>
</div>
