<div class="auth-container" [formGroup]="loginForm">
  <!-- Top Blue Circle -->
  <div class="circle-overlay">
    <h1>Tech.Co</h1>
    <p>Workers Portal</p>
  </div>

  <!-- Background Images -->
  <img src="/assets/images/auth/techco_1.jpg" alt="Team" class="top-image" />
  <img
    src="/assets/images/auth/techco_2.jpg"
    alt="Worker"
    class="bottom-image"
  />

  <!-- Login Form -->
  <div class="circle-overlay-2">
    <form class="login-form" (ngSubmit)="onLogin()">
      <ion-input
        class="form-input"
        formControlName="username"
        placeholder="Username"
      ></ion-input>
      <div
        class="error-wrapper"
        *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
      >
        <p *ngIf="loginForm.get('username')?.hasError('required')">
          Username is required.
        </p>
        <p *ngIf="loginForm.get('username')?.hasError('minlength')">
          Username must be at least 3 characters long.
        </p>
      </div>
      <ion-input
        class="form-input"
        formControlName="password"
        type="password"
        placeholder="Password"
      >
        <ion-input-password-toggle slot="start"></ion-input-password-toggle>
      </ion-input>
      <div
        class="error-wrapper"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      >
        <p *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required.
        </p>
        <p *ngIf="loginForm.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long.
        </p>
      </div>
      <div class="flex flex-col">
        <ion-button class="form-button" color="tertiary" (click)="onLogin()"
          >LOGIN</ion-button
        >
        <a class="form-link" href="#">Forgotten Password</a>
      </div>
    </form>
  </div>
</div>
