.side-menu {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;

  .side-menu-header {
    display: flex;
    flex-direction: column;

    .side-menu-title {
      margin: 1rem 0;
      font-size: 3rem;
      font-weight: 500;
    }
    .employee-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .avatar-container {
        display: flex;
        justify-content: center;

        .employee-bubble {
          width: 80px;
          height: 80px;
          background: white;
          border-radius: 5rem;
          text-align: center;
          align-content: center;
        }
      }
    }
  }

  .nav-items {
    background-color: #4ab69b;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    margin: 0;
  }

  .nav-item {
    --background: #4ab69b;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;

    color: white;
    cursor: pointer;

    width: 100%;
    gap: 1rem;

    &.active {
      color: #303e6f;
      --background: rgba(250, 250, 250, 0.3);
      .pi.pi-user {
        color: #303e6f;
      }
      a {
        text-decoration: none;
        color: #303e6f;
      }
    }

    &:hover {
      background: rgba(250, 250, 250, 0.3);
      color: #303e6f;
      .pi.pi-user {
        color: #303e6f;
      }
      a {
        text-decoration: none;
        color: #303e6f;
      }
    }
    ion-label {
      margin-left: 0.5rem;
    }
  }

  .logout-item {
    margin-top: auto;
    &:hover {
      background: rgba(250, 250, 250, 0.3);
      color: #303e6f;
      .pi.pi-user {
        color: #303e6f;
      }
      a {
        text-decoration: none;
        color: #303e6f;
      }
    }
  }
}
