<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="site">
      <ion-icon name="person-circle-outline"></ion-icon>
      Site
    </ion-tab-button>
    <ion-tab-button tab="department">
      <ion-icon name="radio"></ion-icon>
      Department
    </ion-tab-button>
    <ion-tab-button tab="region">
      <ion-icon name="library"></ion-icon>
      Region
    </ion-tab-button>
    <ion-tab-button tab="role">
      <ion-icon name="search"></ion-icon>
      Role
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
